<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Venue type:</strong>
  <%= @venue.venue_type %>
</p>

<p>
  <strong>Department:</strong>
  <%= @venue.department %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @venue.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @venue.web %>
</p>

<p>
  <strong>Foursquare:</strong>
  <%= @venue.foursquare_id %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @venue.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @venue.lng %>
</p>

<p>
  <strong>Beers:</strong>
  <%= @venue.beers.pluck(:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
