<p id="notice"><%= notice %></p>

<h1>Listing Breweries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewery type</th>
      <th>Department</th>
      <th>City</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Web</th>
      <th>Serves people</th>
      <th>Foursquare</th>
      <th>Lat</th>
      <th>Lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.brewery_type %></td>
        <td><%= brewery.department %></td>
        <td><%= brewery.city %></td>
        <td><%= brewery.address %></td>
        <td><%= brewery.phone %></td>
        <td><%= brewery.email %></td>
        <td><%= brewery.web %></td>
        <td><%= brewery.serves_people %></td>
        <td><%= brewery.foursquare_id %></td>
        <td><%= brewery.lat %></td>
        <td><%= brewery.lng %></td>
        <td><%= link_to 'Show', brewery %></td>
        <td><%= link_to 'Edit', edit_brewery_path(brewery) %></td>
        <td><%= link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brewery', new_brewery_path %>
