<div class="row">
  <div class="col-lg-12">
    <%= render 'shared/model_errors', model: @beer %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= form_for @beer do |f| %>
      <div class="form-group">
        <%= f.label :brewery_id %>
        <%= f.collection_select :brewery_id, Brewery.all, :id, :name, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :brand %>
        <%= f.text_field :brand, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :style %>
        <%= f.text_field :style, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :color %>
        <%= f.text_field :color, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :alcohol %>
        <%= f.text_field :alcohol, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :bitterness %>
        <%= f.text_field :bitterness, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :size %>
        <%= f.text_field :size, class: 'form-control' %>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :draft %>Draft?
        </label>
      </div>

      <%= f.submit class: 'btn btn-success' %>
      <%= link_to 'Back', beers_url %>
    <% end %>
  </div>
</div>
